.container {
  background-color: #dddddd85;
  width: 349px;
  height: 30px;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}
.tasks {
  background-color: #dddddd85;
  width: 349px;
  /* height: 100px; */
  padding: 20px;
  margin: 20px;
  border: 2px solid;
  border-radius: 5px;
}
.container form input {
  border: 1px solid;
  border-radius: 5px;
  width: 250px;
  height: 25px;
}

.container form button {
  background-color: #ff5722;
  border-radius: 3px;
  border: none;
  width: 70px;
  height: 25px;
  color: white;
}
